[Desktop Entry]
Categories=Development;IDE;
Exec=/home/berzerk/Soft/PyCharm/bin/pycharm
Icon=/home/berzerk/Soft/PyCharm/bin/pycharm.png
Keywords=development;pycharm;ide;python;
Name=PyCharm
StartupNotify=true
StartupWMClass=jetbrains-pycharm
Terminal=false
Type=Application