[Desktop Entry]
Categories=Development;IDE;
Exec=/home/berzerk/Soft/pycharm/bin/pycharm.sh
Icon=/home/berzerk/Soft/pycharm/bin/pycharm.png
Keywords=development;pycharm;ide;python;
Name=PyCharm
StartupNotify=true
StartupWMClass=jetbrains-pycharm
Terminal=false
Type=Application