[Desktop Entry]
Categories=Development;IDE;
Exec=/home/berzerk/Soft/PhpStorm/bin/phpstorm
Icon=/home/berzerk/Soft/PhpStorm/bin/phpstorm.png
Keywords=development;phpstorm;ide;php;
Name=PhpStorm
StartupNotify=true
StartupWMClass=jetbrains-phpstorm
Terminal=false
Type=Application